services:
  vault-usage-exporter:
    depends_on:
      - vault
    environment:
      - VAULT_TOKEN=root
    build:
      context: ./..
      dockerfile: Dockerfile
      args:
        VERSION: v0.0.1
    healthcheck:
      test: [ "CMD", "wget", "-q", "http://127.0.0.1:9090/health","-O","/dev/null" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s
    ports:
      - "8090:9090/tcp"
    networks:
      vault-usage-exporter:
        aliases:
          - vault-usage-exporter
    volumes:
      - ./vault-usage-exporter/config.yaml:/config.yaml
  prometheus:
    image: prom/prometheus
    depends_on:
      - vault-usage-exporter
    networks:
      vault-usage-exporter:
        aliases:
          - prometheus
    ports:
      - "9090:9090/tcp"
    command:
      - --config.file=/etc/prometheus/prometheus.yaml
      - --web.listen-address=:9090
    volumes:
      - ./prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml
      - prometheus-data:/prometheus
  grafana:
    image: grafana/grafana
    networks:
      vault-usage-exporter:
        aliases:
          - grafana
    ports:
      - "3000:3000/tcp"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    volumes:
      - ./grafana/datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml
      - ./grafana/dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml
      - ./../assets/dashboard.json:/var/lib/grafana/dashboards/vault-usage-exporter.json
  vault:
    image: hashicorp/vault
    networks:
      vault-usage-exporter:
        aliases:
          - vault
    ports:
      - "8200:8200/tcp"
    environment:
      - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
      - VAULT_DEV_ROOT_TOKEN_ID=root
networks:
  vault-usage-exporter:
    driver: bridge

volumes:
  prometheus-data:
